.modal__container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10;
}

.modal__container--closed {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  box-sizing: border-box;
}

.modal-order {
  padding: 60px 80px;
  background-color: #FFFFFF;
  border: solid 10px #000000;
  width: 920px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 0;
  right: 0;
  width: 56px;
  height: 44px;
  background-image: url("/img/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal__title {
  margin: 0;
  margin-bottom: 42px;
  font-family: Raleway, sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  color: #000000;
}

.modal-order__label {
  display: block;
  margin-bottom: 14px;
  color: #000000;
  font-family: Rubik, sans-serif;
  font-weight: 700;
  line-height: 20px;
}

.field {
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  background-color: #F0F0F0;
  border: none;
}

.buttons {
  display: grid;
  width: 180px;
  grid-template-columns: repeat(3, 60px);
}

.grid-1 {
  display: grid;
  grid-template-columns: 360px 360px;
  column-gap: 40px;
  margin-bottom: 62px;
}

.grid-2 {
  display: grid;
  grid-template-columns: 540px 180px;
  column-gap: 40px;
}

.modal .button {
  border: none;
}

.grid-2 {
  margin-bottom: 52px;
}

.modal__button {
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
}

.button-plus {
  background-image: url("/img/plus-modal.svg");
}

.button-minus {
  background-image: url("/img/minus.svg");
}

.modal-info {
  position: relative;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #FFE17F;
  border: none;
  color: #000000;
  font-weight: 700;
}

.modal-order-name .field {
  background-image: url("/img/login.svg");
  background-repeat: no-repeat;
  background-position: 330px center;
}

.modal-order-email .field {
  background-image: url("/img/email.svg");
  background-repeat: no-repeat;
  background-position: 330px center;
}

.info {
  position: absolute;
  right: 100px;
  top: 350px;
  width: 200px;
  padding: 19px;
  background-color: #000000;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 20px;
}

.info--open {
  animation: fadeIn 0.5s;
  animation-fill-mode: forwards;
}

.info--closed {
  display: none;
  animation: fadeIn 0.5s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

/* POPOVER */
.popover {
  position: absolute;
  top: 40px;
  right: 20px;
  z-index: 10;
  box-sizing: border-box;
  width: 320px;
  color:#FFFFFF;
  background-color: #000000;
  font-size: 16px;
  line-height: 20px;
  min-height: 160px;
}

.popover--closed {
  display: none;
}

.user-list__item {
  position: relative;
}

.popover__content {
  height: 100%;
}

.popover-close-button {
  display: block;
}

.cart-items__list {
  margin: 0;
  padding: 0;
}

.cart__item {
  position: relative;
  display: grid;
  grid-template-columns: 39px 1fr;
  column-gap: 23px;
  padding: 20px;
  border-bottom: 2px solid #1A1A1A;
}

.cart-item__button {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 20px;
  height: 15px;
  background-image: url("/img/basket-delete.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #000000;
  border: none;
  cursor: pointer;
}

.cart-item__title {
  margin: 0;
}

.cart__total {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  margin: 0;
  margin-bottom: 20px;
  background-color: #1A1A1A;
}

.popover__button--open {
  display: block;
  background-image: none;
  border: 0;
  margin: 0 auto;
  margin-bottom: 20px;
}
